* {
    font-family: Consolas,monaco,monospace; 
}

::-webkit-scrollbar {
    width: 0px;  /* ширина scrollbar'a */
    background: transparent; 
}

html {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

a {
    color: #000; 
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
} 
a:hover {
    color: #000;  
    text-decoration: none;
}


button, 
button:active, 
button:focus {
    outline: none !important;
    border: 0 !important;
}

.main_copyright {
    display: block;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    color: #999999;
}

.main_about_button_text {
    display: block;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
    color: #000 !important;
}

.main_about_animation_class {
    transition-duration: 300ms;
}

.main_about_animation_class:hover {
    font-size: 20px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main_codeye_button {
    width: auto;
    height: auto;
    background: #3f9eff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 15em;
    transition-duration: 300ms;
}  

.main_codeye_button:hover {
    background: #647aff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.main_codeye_button_text {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    
    color: #FFF !important; 
} 

.main_codeye { 
    margin-top: 14%;
    text-align: center;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 117px;

    color: #000000;
}

.main_codeye_text_after {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 15em;

    color: #000000;
}


.main_ellipse {
    position: absolute;
    right: 0;
    height: 100%;
    width: 45%;
    min-width: 730px;
    border-bottom-left-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    background: #FFFFFF;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.main_page_background {
    width: 100%; 
    height: 100%; 
    background: linear-gradient(214deg, rgba(133,90,255,1) 0%, rgba(8,213,255,1) 100%);
}

.main_draw {
    position: absolute;
    left: 0;
    height: 100%;
    width: 55%;
    z-index: -10;
}

.main_sun {
    display: block;
    width: 70vh;
    height: 70vh;
    margin: auto;
    background: linear-gradient(306deg, rgba(255,172,90,1) 0%, rgba(248,222,173,1) 100%);
    margin-top: 20%;
    border-radius: 50%; 
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);   
    z-index: 2;
}

.main_nonono {
    display: block;
    margin: auto;
    text-align: center;
    padding-left: 10%;
    padding-top: 30%;

    z-index: 3;
}

.main_line_one {
    object-fit: fill;
    position: absolute;
    z-index: 5;
}

.main_line_two {
    object-fit: fill;
    position: absolute;
    z-index: -15;
}   

.main_lines {
    width: 100vw;
    height: 100vh;
}

.nav_codeye_button {
    margin-left: 20px;
    margin-right: auto;
    font-family: Consolas;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 35px;
    text-align: left;
}

.nav_codeye_button:hover {
    text-decoration: none;
    color: #000;
}

.nav_codeye_button:active {
    color: #000;
    text-decoration: none;
}

.nav_about {
    margin-right: 40px;
    margin-left: auto;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
}

.nav_about:hover {
    text-decoration: none;
    color:black;
}

.nav_about:active {
    text-decoration: none;
    color:black;
}

.nav_button_share_code {
    transition-duration: 300ms;
    background: #3f9eff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
}

.nav_button_share_code:hover {
    background: #647aff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.nav_button_share_code_text {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    
    color: #FFF !important
}

.nav_button_share_code_text:hover {
    text-decoration: none;
    color: white;
}

.nav_button_share_code_text:active {
    text-decoration: none;
    color: white;
}

.nav_footer {
    position: absolute;
    background: white;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 36px;
    bottom: 0;
    width: 100%;
}

.nav_footer_text_size_button {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    width: auto;
    font-size: 16px;
    padding: 0;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background: white;
    min-width: 80px;
    overflow: visible;
}

.nav_footer_text_language {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    width: auto;
    margin-left: 10px;
    min-width: 120px;
    font-size: 16px;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background: white;
    z-index: 50;
}

.nav_footer_text_size_button_text {
    margin-right: 10px;
    margin-left: 10px;
}

.nav_footer_text_language_text {
    margin-right: auto;
    margin-left: auto;
}

.nav_footer_arrow_up {
    width: 16px;
    margin-left: 0px;
    margin-right: 8px;

}

.description_bar {
    overflow: auto;
    overflow-y: scroll;
    z-index: 5;
    min-width: 400px;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    height: auto;
    bottom: 36px;
    top: 80px;
}

.description_bar_textarea {
    overflow: auto;
    overflow-y: auto;
    z-index: 6;
    width: 95%;
    background: white;
    outline: none;
    border: 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    min-height: 300vh;
    bottom: 0;
}

.description_bar_textarea:focus {
    outline: none;
    border: 0;
}

.button_confirm {
    position: absolute !important;
    width: 240px;
    z-index: 50 !important;

    transition-duration: 300ms;
    background: #3f9eff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: 0;

    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

    right: 0;
    margin-right: 80px;
    
    bottom: 18px;
}

.button_confirm:hover {
    background: #647aff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.button_confirm:focus,
.button_confirm:active {
    outline: none !important;
    border: 0 !important;
}

.button_confirm_changes {
    position: absolute !important;
    width: 200px;
    z-index: 50 !important;

    transition-duration: 300ms;
    background: #3f9eff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: 0;

    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

    right: 0;
    margin-right: 100px;
    
    bottom: 18px;
}

.button_confirm_changes:hover {
    background: #647aff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.button_confirm_changes:focus,
.button_confirm_changes:active {
    outline: none !important;
    border: 0 !important;
}

.code_edit_block {
    position: absolute;

    left: 0;
    right: 400px;
    top: 80px;
    bottom: 36px;
    width: auto;

    background: white;
    z-index: -15;
}

.code_edit_code {
    position: absolute;
    outline: none;
    
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 40px;
    
    border: 0;
    z-index: -10;
    resize: none;
}

.code_edit_code:focus {
    outline: none;
    border: 0;
}

.code_suggested_by {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #999999;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 10px;
}

.code_add_name {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    width: auto;
    font-size: 16px;
    color: #999999;
    padding: 0;
    width: 100%;
    border: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.code_add_name:focus {
    outline: none;
    border: 0;
}

.about_footer {
    display: block;
    background: #F3F3F3;
    height: 400px;
    z-index: 10;
}

.about_personal_dev_card {
    height: 800px;
    width: auto;
    background: white;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
    transition-duration: 1000ms;
    border-radius: 20px;
    max-width: 700px;
    z-index: 10;
}

.about_personal_dev_card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);    
}

.about_site_description {
    min-height: 500px;
    height: auto;
    width: 100%;
    padding-top: 100px;
    z-index: 10;
}

.about_site_text {
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    width: auto;
    font-size: 20px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    z-index:10 !important;

}

.about_card_photo {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);    
    transition-duration: 1s;
    pointer-events: none;
}

.about_personal_dev_card:hover .about_card_photo {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);    
}
.about_card_name {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.about_card_personal_list {
    margin-left: 40px; 
}

.telegram_icon {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;   
}

.about_card_message {
    margin-left: 40px;
    margin-right: 40px;
}

.about_personal_links {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.about_card_find_me_here {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    width: auto;
    font-size: 14px;
    color: black;
    position: absolute;
    left: 25px;
    bottom: 50px;
}

.grnbows_telegram_channel_link {
    color: #2f6397 !important;
}

.about_footer_contacts {
    padding-top: 120px;
    margin-bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact_us_here_text {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 400;
}

.about_copyright {

    color: #999999;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
}

.about_footer_email {
    font-weight: bold !important;
}

.about_background_logo {
    display: block;
    top: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 100vw;
    position: absolute;
    z-index: 1 !important;
    pointer-events: none;
    opacity: 20%;
}

.display-none {
    display: none;
}

.main_mobile {
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding-top: 30px;
}

.nav_footer_lang_content {
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: auto;
    min-width: 120px;
    margin-bottom: 29px;
    margin-left: 10px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lang_button {
    text-align: left;
    padding-left: 10px;
    z-index: 30;
    min-width: 120px;
    width: auto;
    background: white;
    border-bottom: 1;
    border-color: #999999;
    transition-duration: 200ms;
}

.lang_button:hover {
    background: #eeeeee;
}

.nav_footer_lang_button_topline {
    transition-duration: 200ms;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.input_file_button {  
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -100;
}

.input_file_label {
    z-index: 10;
    width: 100px;
    height: 30px;
    background: #3f9eff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    transition-duration: 300ms;
}  

.input_file_label:hover {
    z-index: 10;
    background: #647aff;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
}

.input_file_label_text {
    display: block;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    margin-bottom: auto;
    
    color: white;
}

.update_code_image {
    display: block;
    height: auto;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 380px;
    margin-bottom: 10px;
    z-index: 10;

    transition-duration: 1000ms;
}

.hidden_lang{
    display: none;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.take_lang{
    display: none;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

@media (max-width: 420px){
    .description_bar{
        min-width: 100%;
        height: 300px;
        left:0;
        right: auto;
    }
    .code_edit_block{
        position: bottom;
        min-width: 420px;
        height: 100px;
        top: 400px;
        right: auto;
    }
    .input_file_label{
        position: relative;
    }
    .button_confirm{
        position: relative;
        left: 20%;
        bottom: 51%;
    }
    .nav_footer{
        height: 40px;
    }
    .nav_about{
        display: none;
    }
    .nav_button_share_code{
        position: relative;
        bottom: 40px;
        left: 70px;
    }
    .nav_codeye_button{
        position: relative;
        right: 5%;
        font-size: 35px;
    }
    
}