{% extends 'base.html' %}

{% block title%}
Add your code and share
{% endblock %}

{% block body%}
<form method="post">
    <div class="code_edit_block">
        <textarea spellcheck="false" required="true" tabindex="4" name="code" id="code" class="code_edit_code" wrap="off" placeholder="Write your code here"></textarea>
    </div>
    <input class="button_confirm" type="submit" value="Confirm">
    <div class="description_bar">
        <input name="name" id="name" class="code_add_name" placeholder="Enter your name/nickname" required="false" spellcheck="false">
        <textarea name="description" id="description" style="font-size: 14px;" class="description_bar_textarea" placeholder="Description here" wrap="hard" ></textarea>
    </div>
</form>
{% endblock %}