{% extends 'base.html' %}

{% block title%}
Add your code and share
{% endblock %}

{% block body%}
<form action="/add_code" method="post" enctype="multipart/form-data">
    <div class="code_edit_block">
        <textarea name="code" id="code_textarea" style="font-size: 14px" spellcheck="false" required="true" tabindex="4" class="code_edit_code" wrap="off" placeholder="Write your code here"></textarea>
    </div>
    <input class="button_confirm" type="submit" value="Confirm">
    <div class="description_bar">
        <input name="name" id="name" class="code_add_name" placeholder="Enter your name/nickname" required="false" spellcheck="false">
        <div>
            <label for="file_input_button" class="input_file_label"><span id="input_file_label_text" class="input_file_label_text">Upload photo</span></label>
            <input id="file_input_button" class="input_file_button" onchange="changeVisibleValue()" type="file" name="file" accept="{{ ALLOWED_EXTENSIONS }}" multiple="">
        </div> 
        <textarea name="description" id="description" style="font-size: 14px;" class="description_bar_textarea" placeholder="Description here" wrap="hard" ></textarea>
    </div>
</form>

<!-- <script>
    document.body.onkeydown = function(e){
        e = e || window.event;
        var c = e.keyCode;
        if(c>36 && c<41 || c>32 && c<37) return false;
    }
    document.body.style.overflowY = 'hidden';
</script> -->

<script>
let input_file_label_text = document.getElementById('input_file_label_text');
let file_input_button = document.getElementById('file_input_button');

function changeVisibleValue() {
    let fl = file_input_button.files.length;
    if(fl > 0 & fl < 4) {
        input_file_label_text.textContent = `Choosen: ${fl}`; 
    } else if(fl > 3) {
        input_file_label_text.textContent = `Max files: 3`;
    } else {
        input_file_label_text.textContent = 'Upload photo';
    }
}

</script>
{% endblock %}