<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom" style='z-index: 10; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); height: 80px;'>
      <a class="nav_codeye_button" href="/home">Codeye</a>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="nav_about" href="/about">About</a>
          <button class="nav_button_share_code"><a id="test_el" class="nav_button_share_code_text" href="/add_code">Share code</a></button>
        </nav>
      </div>
</head>
<body>
    {% block body %}{% endblock %}
    <footer class="nav_footer d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-top">
      <button onclick="show_font_size_content_block()" id="font_size_button" class="nav_footer_text_size_button d-flex flex-column flex-md-row align-items-center">
        <p id="font_size_now" class="mb-0 nav_footer_text_size_button_text">14px</p><img class="nav_footer_arrow_up" src="{{ url_for('static', filename='images/arrow_up.svg') }}" alt="">
      </button>
      <div id="font_size_content_block" class="nav_footer_text_size_content" style="display: none;">
        <button onclick="change_font_size(10)" id="10px" class="text_size_button" style="border-top-left-radius: 8px;border-top-right-radius: 8px;">10px</button>
        <button onclick="change_font_size(12)" id="12px" class="text_size_button">12px</button>
        <button onclick="change_font_size(14)" id="14px" class="text_size_button">14px</button>
        <button onclick="change_font_size(16)" id="16px" class="text_size_button">16px</button>
        <button onclick="change_font_size(18)" id="18px" class="text_size_button">18px</button>
        <button onclick="change_font_size(20)" id="20px" class="text_size_button">20px</button>
        <button onclick="change_font_size(24)" id="24px" class="text_size_button">24px</button>
        <button onclick="change_font_size(30)" id="30px" class="text_size_button">30px</button>
        <button onclick="change_font_size(36)" id="36px" class="text_size_button">36px</button>
      </div>
      <button class="nav_footer_text_language d-flex flex-column flex-md-row align-items-center"><p class="mb-0 nav_footer_text_language_text">Python</p><img class="nav_footer_arrow_up" src="{{ url_for('static', filename='images/arrow_up.svg') }}" alt=""></button>
    </footer>
<script type="text/javascript">
let font_size_button = document.getElementById('font_size_button');
let font_size_content_block = document.getElementById('font_size_content_block');
let code_textarea = document.getElementById('code_textarea');

function change_font_size(size) {
  let element = document.getElementById('font_size_now');
  font_size_button.classList.toggle('nav_footer_text_size_button_topline');
  element.textContent = size + "px";
  font_size_content_block.style.display = "none";
  code_textarea.style.fontSize = size + "px";
 };

function show_font_size_content_block() {
  console.log(font_size_content_block.style.display);
  if(font_size_content_block.style.display == "none") {
    font_size_button.classList.toggle('nav_footer_text_size_button_topline');
    font_size_content_block.style.display = "flex";
  } else {
    font_size_button.classList.toggle('nav_footer_text_size_button_topline');
    font_size_content_block.style.display = "none";
  }
};
</script>
</body>
</html>