<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="btn btn_info" href="/home"><h5 class="my-0 mr-md-auto font-weight-normal">Codeye</h5></a>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/home">Home</a>
          <a class="p-2 text-dark" href="/about">About</a>
          <a class="p-2 text-dark" href="/add_code">Add code</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
      </div>
</head>
<body>
    <h1>{% block body %}{% endblock %}</h1>
</body>
</html>