{% extends 'base.html' %}

{% block title%}
Edit your code
{% endblock %}

{% block body%}
<form method="post">
    <div class="code_edit_block">
        <textarea spellcheck="false" required=True tabindex=4 name="code" id="code" class="code_edit_code" placeholder="Write your code here">{{ code.code }}</textarea>
    </div>
    <input class="button_confirm_changes" type="submit" value="Confirm changes">
    <div class="description_bar">
        <p class="code_suggested_by">Code suggested by: {{ code.name }}</p>
        {% if lenList > 0 %}
            {% for elem in code_pic %}
                <p><img src="{{ elem }}" name="image" id="image" width="320" height="180" alt="No File"></p>
            {% endfor %}
        {% endif %}
       <!--

        <textarea style="font-size: 14px;" name="description" id="description" class="description_bar_textarea" placeholder="Description of this problem" whap="hard">{{ code.description }}</textarea>
    --></div>
</form>
{% endblock %}