{% extends 'base.html' %}

{% block title%}
Edit your code
{% endblock %}

{% block body%}
<div class="container mt-5">
    <!--<a class="btn btn-toolbar" href="http://127.0.0.1:5000/home">Home</a>-->
    <h3>Code editing</h3>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" value="{{ code.name }}" placeholder="Enter title"><br>
        <textarea name="code" id="code" rows="7" class="form-control" placeholder="Enter code">{{ code.code }}</textarea><br>
        <h6>Publication date: {{ code.date }}</h6><br>
        <input type="submit" class="btn btn-success" value="Update">
        <h1> </h1>
    </form>
</div>
{% endblock %}